body{
    margin: 0 auto;
    padding: 0;
}
.userList{
    display: flex;
    flex-wrap: wrap;

}
.user, .details{
    width: 46%;
    padding: 2%;
    min-height: 700px;
}
.user{
    background-color: lightslategrey;
}
.details{
 background-color: grey;
}

button{
    border: none;
    background: plum;
    color: purple;
    margin: 20px;
}
.posts{
    width: 100%;
}