body{
    margin: 0 auto;
    padding: 0;
}
.userList{
    display: flex;
    flex-wrap: wrap;
}
.user{
    width: 45%;
    padding: 2%;

}
.details{
    width: 45%;
    padding: 2%;
    box-sizing: border-box;
}
.posts{
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    text-align: center;
}