.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: plum;
    gap: 50px;
    min-height: 100px;
}
.header a{
    color: purple;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}
.header a[class='active']{
    color: darkslateblue;
    text-decoration: underline;
}