.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    color: dimgray;
    gap: 50px;
}
.header a [class='active']{
    color: #282c34;
    text-decoration: underline;
}