.userDetails{
    width: 46%;
    min-height: 700px;
    text-align: center;

}
button{
    border: 1px solid white;
    border-radius: 5%;
    color: white;
    background: dimgray;
    padding: 10px;
}
button:hover{
    border: 1px solid dimgray;
    color: dimgray;
    background: white;
}